html, body {
    -webkit-font-smoothing: unset !important;
    -moz-osx-font-smoothing: unset !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.grecaptcha-badge {
    visibility: hidden;
}